<link rel="stylesheet" href="/css/occ.css">
<link rel="stylesheet" href="/css/a.css">
<div class="movie-container" id ="cl">
  <label>Subject</label>
  <select id="movie">
    <option value="00">Select </option>
    <option value="1">NCP </option>
    <option value="2">SICP</option>
    <option value="3">MLDM</option>
  </select>
  &nbsp; &nbsp; &nbsp;

  <label>Department:</label>
  <select id="day">
    <option value="00">Select </option>

    <option value="1">CSE </option>
    <option value="2">EEE</option>
    <option value="3">ECE</option>
    <option value="4">MEE</option>
  </select>
  &nbsp;
  &nbsp; &nbsp;

  <label>Section:</label>
  <select id="slot"
    <option value="00">Select </option>
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
    <option value="4">D</option>
    <option value="5">E</option>
  </select>

</div>


<div class="">
  <h1>Attendance Based on selection</h1>
</div>

<script src="/js/occ.js"></script>

<%- include("partial/footer.ejs") -%>
