<%- include("partial/header.ejs") -%>

<link rel="stylesheet" href="/css/dash.css">

<div class="container">
	<div class="header-wrapper">
		<div class="logo">WELCOME FACULTY/STUDENT NAME
</div>
		<ul class="nav1">
			<li><a href="#">Mark Attendance</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/help">Help</a></li>
			<li><a href="/">LogOut</a></li>
		</ul>
</div>
</div>
<div class="">
<h3> PERSONAL DETAILS </h3>
</div>

    <%- include("partial/footer.ejs") -%>
