<%- include("partial/header.ejs") -%>
<link rel="stylesheet" href="/css/main.css">

<h1>AMRITA ATTENDANCE PORTAL</h1>

<div class="nav">
  <a href="/login">Login</a>
  <a href="/abt">About</a>
  <a href="/help">Help</a>
</div>

<br><br>
<div class="mid">
  <h2>This portal caters to the internal requirements of staff and students in the campus.<br>
     It gives access to all the services hosted as part of the IT Services in the campus.</h2>
</div>
<%- include("partial/footer.ejs") -%>
